html	{
	min-height:	100%;
	font-family:	verdana;
}

body	{
	margin:	5%;
	color:	white;
    background: black url('images/me3.jpg') no-repeat right bottom;
}

h1	{
	padding-left:	0%;
}

h2	{
	padding-left:	5%;
}

p	{
	padding-left:	10%;
}

div	{
	padding-left:	10%;	
}

ul	{
	padding-left:	4%;
}

a	{
	color:	#96a2be;
}
