
/*@import url(http://fonts.googleapis.com/css?family=Open+Sans);*/

@font-face {
    font-family: "Atkinson Hyperlegible";
    src: url(font/AtkinsonHyperlegible-Regular.ttf) format("truetype");
}

html	{
	min-height:	100%;
	/*font-family:	verdana;*/
    /*font-family: 'Open Sans', sans-serif;*/
    font-family: "Atkinson Hyperlegible", sans-serif;
}

body	{
	margin:	5%;
	/*color:	white;*/
	color: rgba(0, 0, 127, 0.75);
	color: black;
    /*background: black url('images/me3.jpg') no-repeat right bottom;*/
    background: url('images/eggshell.jpg');
}


hr {
    color: black;
    margin-left: -5%;
    margin-right: -5%;
    display: none;
}

h1	{
}

/*h2	{*/
	/*padding-left:	5%;*/
/*}*/

/*h3	{*/
	/*padding-left:	7.5%;*/
/*}*/

p	{
	padding-left:	2.5%;
}

/*div	{*/
	/*padding-left:	10%;	*/
/*}*/

/*ul	{*/
	/*padding-left:	4%;*/
/*}*/

li {
    padding-top: 5px;
    padding-bottom: 5px;
}

.aside {
    font-size: smaller;
    color:	#888;
    padding-left: 0%;
}
.aside:before {
    /*font-size: smaller;*/
    /*color:	#888;*/
    content: '[';
}
.aside:after {
    /*font-size: smaller;*/
    /*color:	#888;*/
    content: ']';
}

div.chunk {
    border-left: 2px solid #aaa;
    border-radius: 5px;
    padding: 0px 0px 0px 5px;
}

a	{
    /*font-size: smaller;*/
    /*background-color: #444;*/

    background-color: rgba(0, 0, 127, 0.0);
    color: #008;

    /*border-radius: 4px;*/
    padding: 1px 1px 1px 1px;
    text-decoration: none;
    border-bottom: 1px solid #008;
    transition: background-color 4s, border-bottom 4s, color 4s;
    transition-timing-function: cubic-bezier(0,.5,.5,1);
}

a:hover	{
    /*color:	#8f8;*/
    /*transition: color 0.2s;*/

    background-color: rgba(0, 0, 127, 0.25);
    color: #008;

    /*color:	#96a2be;*/
    /*border-bottom: 10px solid #008;*/
    transition: background-color 0.2s, border-bottom 0.2s, color 0.2s;
}

img {
    border:	1px solid #008;
}

img.floater	{
    height:	100px;
    width:	100px;
    float: right;
}

.breadcrumb {
    position: absolute;
    top: 10px;
    left: 10px;
    padding: 0px;
}

#quotebox {
    position: absolute;
    top: 10px;
    right: 10px;
    padding: 0px;
}


#quotebox::before, #quotebox::after {
    content: "\"";
}
